# Visual Studio folders
.vs/
**/.vs/
*.suo
DocumentLayout*.json

# Build output folders
bin/
obj/
**/bin/
**/obj/

# User-specific files
*.user
*.suo

# Caches / databases / indexes
*.cache
*.db
*.opendb
*.vsidx

# Generated binaries / symbols
*.dll
*.pdb

# Generated metadata
*AssemblyInfo.cs
*.sourceLink.json
DocumentLayout*.json