# Visual Studio
.vs/
*/.vs/

# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo

# Cache / database files
*.cache
*.db
*.opendb
*.vsidx

# Generated build metadata
*AssemblyInfo.cs
*.pdb
*.dll
*.json

# Visual Studio indexing
*.v10.bin
*.sourceLink.json