# Visual Studio workspace
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.suo

# Visual Studio caches
*.cache
*.db
*.opendb

# Generated assembly info
*AssemblyInfo.cs

# Visual Studio indexing
*.vsidx